{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>404 Page Not Found | National Engineering Corporation</title>
	<meta name="description" content="The page you are looking for could not be found. Return to National Engineering Corporation home page or explore our industrial products.">

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'website/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'website/css/font-awesome.css' %}">
	<link rel="stylesheet" href="{% static 'website/css/ionicon.css' %}">
	<link rel="stylesheet" href="{% static 'website/css/slick.css' %}">
	<link rel="stylesheet" href="{% static 'website/css/slick-theme.css' %}">
	<link rel="stylesheet" href="{% static 'website/css/style.css' %}">

	<link rel="shortcut icon" href="{% static 'website/images/logo1.png' %}">
</head>

<body>
	<div id="page" class="site">

		<header id="site-header" class="site-header mobile-header-blue header-style-1">
			<div id="header_topbar" class="header-topbar md-hidden sm-hidden clearfix">
				<div class="container-custom">
					<div class="row">
						<div class="col-md-8">
							<ul class="topbar-left">
								<li><i class="icon ion-md-pin"></i>G-23, Silver Plaza, Pratin Chowkdi, Ankleshwar</li>
								<li><i class="icon ion-md-call"></i>+91 9574167304</li>
								<li><i class="icon ion-md-mail"></i>sales.nationaleng@gmail.com</li>
							</ul>
						</div>
						<div class="col-md-4">
							<ul class="topbar-right pull-right">
								<li><a href="{% url 'contactus' %}">Get Support</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="main-header md-hidden sm-hidden">
				<div class="container-custom">
					<div class="row">
						<div class="col-md-3">
							<div class="logo-brand">
								<a href="{% url 'home' %}">
									<img src="{% static 'website/images/logo1.png' %}" alt="National Engineering Corporation">
								</a>
							</div>
						</div>

						<div class="col-md-9">
							<div class="main-navigation">
								<ul id="primary-menu" class="menu">
									<li class="menu-item"><a href="{% url 'home' %}">Home</a></li>
									<li class="menu-item"><a href="{% url 'about' %}">About Us</a></li>
									<li class="menu-item"><a href="{% url 'partner-clients' %}">Clients</a></li>
									<li class="menu-item"><a href="{% url 'products' %}">Products</a></li>
									<li class="menu-item"><a href="{% url 'contactus' %}">Contact Us</a></li>
								</ul>

								<a href="{% url 'contactus' %}" class="btn btn-primary">
									Get a quote<i class="icon ion-md-paper-plane"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="mobile-header">
				<div class="container-custom">
					<div class="row">
						<div class="col-xs-6">
							<div class="logo-brand-mobile">
								<a href="{% url 'home' %}">
									<img src="{% static 'website/images/logo1.png' %}" alt="National Engineering Corporation">
								</a>
							</div>
						</div>

						<div class="col-xs-6">
							<div id="mmenu_toggle">
								<button></button>
							</div>
						</div>

						<div class="col-xs-12">
							<div class="mobile-nav">
								<ul id="primary-menu-mobile" class="mobile-menu">
									<li class="menu-item"><a href="{% url 'home' %}">Home</a></li>
									<li class="menu-item"><a href="{% url 'about' %}">About Us</a></li>
									<li class="menu-item"><a href="{% url 'partner-clients' %}">Clients</a></li>
									<li class="menu-item"><a href="{% url 'products' %}">Products</a></li>
									<li class="menu-item"><a href="{% url 'contactus' %}">Contact Us</a></li>
								</ul>

								<a href="{% url 'contactus' %}" class="btn btn-primary">
									Get a quote<i class="icon ion-md-paper-plane"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="content" class="site-content">
			<section class="nec-404-section">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-7">
							<div class="nec-404-content">
								<span class="nec-404-label">Page Not Found</span>

								<h1>404</h1>

								<h2>The page you are looking for is not available.</h2>

								<p>
									The link may be incorrect, moved, or removed. You can return to the home page,
									explore our industrial products, or contact National Engineering Corporation for assistance.
								</p>

								<div class="nec-404-actions">
									<a href="{% url 'home' %}" class="btn btn-primary">
										Back to Home <i class="icon ion-md-home"></i>
									</a>

									<a href="{% url 'products' %}" class="nec-404-secondary-btn">
										View Products <i class="icon ion-md-arrow-forward"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="nec-404-card">
								<div class="nec-404-icon">
									<i class="icon ion-ios-warning"></i>
								</div>

								<h3>Need help finding a product?</h3>

								<p>
									We supply industrial valves, automation products, pressure measurement,
									level measurement, flow measurement, and temperature measurement products.
								</p>

								<a href="{% url 'contactus' %}">
									Contact Us <i class="icon ion-md-add-circle"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<footer id="site-footer" class="site-footer bg-footer">
			<div class="main-footer">
				<div class="container-custom">
					<div class="row">

						<div class="col-md-3 col-sm-6">
							<div class="widget-footer">
								<div class="widget widget_media_image">
									<a href="{% url 'home' %}" class="footer-logo-link">
										<img class="footer-logo-img" src="{% static 'website/images/logo-white-p.png' %}" alt="National Engineering Corporation">
									</a>
								</div>

								<div class="widget_text widget widget_custom_html">
									<div class="textwidget custom-html-widget">
										<p>© National Engineering Corporation. <br>All Rights Reserved.</p>
										<p>GST No.: 24AZKPK0811G1ZR</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-6">
							<div class="widget-footer">
								<div class="widget_text widget widget_custom_html padding-left">
									<div class="textwidget custom-html-widget">
										<ul>
											<li><a href="{% url 'products' %}?category=mechanical#product-catalog">Mechanical Products</a></li>
											<li><a href="{% url 'products' %}?category=automation#product-catalog">Automation Products</a></li>
											<li><a href="{% url 'products' %}?category=pressure#product-catalog">Pressure Measurement</a></li>
											<li><a href="{% url 'products' %}?category=level#product-catalog">Level Measurement</a></li>
											<li><a href="{% url 'products' %}?category=flow#product-catalog">Flow Measurement</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-6">
							<div class="widget-footer">
								<div class="widget_text widget-footer widget_custom_html padding-left">
									<div class="textwidget custom-html-widget">
										<ul>
											<li><a href="{% url 'about' %}">About Us</a></li>
											<li><a href="{% url 'partner-clients' %}">Clients</a></li>
											<li><a href="{% url 'products' %}">Products</a></li>
											<li><a href="{% url 'contactus' %}">Contact Us</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-6">
							<div class="widget-footer">
								<div class="widget_text widget widget_custom_html">
									<div class="textwidget custom-html-widget">
										<p><i class="icon ion-md-pin"></i> G-23, Silver Plaza, Pratin Chowkdi, Ankleshwar</p>
										<p><i class="icon ion-md-call"></i> +91 9574167304</p>
										<p><i class="icon ion-md-mail"></i> sales.nationaleng@gmail.com</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</footer>
	</div>

	<script src="{% static 'website/js/jquery.min.js' %}"></script>
	<script src="{% static 'website/js/slick.min.js' %}"></script>
	<script src="{% static 'website/js/jquery.sticky.js' %}"></script>
	<script src="{% static 'website/js/countto.min.js' %}"></script>
	<script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'website/js/jquery.isotope.min.js' %}"></script>
	<script src="{% static 'website/js/scripts.js' %}"></script>
</body>
</html>